<strong>Olá, {{ deliveryman }}! </strong>
<p>Uma entrega acabou de ser cancelada, confira mais detalhes abaixo: </p>

<p>
    <strong>Produto: </strong> {{ product }} <br />
    <strong>Nome do destinatário: </strong> {{ name }} <br />
    <strong>Endereço: </strong> {{ street }} <br />
    <strong>Nº: </strong> {{ number }} <br />
    <strong>Complemento: </strong> {{ complement }} <br />
    <strong>Cidade: </strong> {{ city }} <br />
    <strong>CEP: </strong> {{ cep }} <br />
    <br />
    <strong>Motivo: </strong> {{ description }} <br />
    <br />
    <small>Agradecemos sua atenção.</small>
</p>
