<strong>Olá, {{ deliveryman }}! </strong>
<p>Existe uma nova encomenda para entrega, confira mais detalhes abaixo: </p>

<p>
    <strong>Produto para retirada: </strong> {{ product }} <br />
    <strong>Nome do destinatário: </strong> {{ name }} <br />
    <strong>Endereço: </strong> {{ street }} <br />
    <strong>Nº: </strong> {{ number }} <br />
    <strong>Complemento: </strong> {{ complement }} <br />
    <strong>Cidade: </strong> {{ city }} <br />
    <strong>CEP: </strong> {{ cep }} <br />
    <br />
    <small>A retirada do produto já está disponível</small>
</p>
